.div1 {
    background-color: #FF69B4;
    font-size: 0px;
}
.div11 {
    max-width: 33%;
    display: inline-block;
    font-size: 16px;
}
.div2 {
    background-color: #9ACD32;
    font-size: 0px;
}
.divmain45 {
    width: 66%;
    display: inline-block;
    font-size: 16px;
}
.div45 {
    width: 100%;
}
.div678 {
    width: 33%;
    display: inline-block;
    font-size: 16px;
}
.div3 {
    background-color: #FFE4C4;
    font-size: 0px;
}
.div9 {
    width: 33%;
    display: inline-block;
    font-size: 16px;
}
.divmain1013 {
    display: inline-block;
    max-width: 67%;
}
.div10 {
    max-width: 100%;
    font-size: 16px;
}
.div311 {
    max-width: 50%;
    font-size: 16px;
    display: inline-block;
}
.div1213 {
    max-width: 50%;
    font-size: 16px;
    display: inline-block;
}
.div4{
    background-color: #AFEEEE;
    font-size: 0;
}
.div1418 {
    max-width: 67%;
    display: inline-block;
}
.div14 {
    font-size: 16px;
    display: inline-block;
}
.div1518 {
    font-size: 0px;
    display: inline-block;
}
.div1517{
    max-width: 50%;
    display: inline-block;
}
.div15 {
    font-size: 16px;
}
.div1617 {
    font-size: 0px;
    display: inline-block;
}
.div16 {
    width: 50%;
    display: inline-block;
    font-size: 16px;
}
.div17 {
    display: inline-block;
    width: 50%;
    font-size: 16px;
}
.div18 {
    font-size: 16px;
    max-width: 50%;
    display: inline-block;
}
.div19 {
    font-size: 16px;
    max-width: 33%;
    display: inline-block;
}